In [1]:
import pandas as pd
import sqlite3


connection = sqlite3.connect('btc-hist.db')
df_xbt = pd.read_sql_query('SELECT "Open Time" AS timestamp, "Close" AS btc_spot FROM btc_history', connection)

df_all_columns = pd.read_sql_query('SELECT * FROM btc_history', connection)
df_all_columns.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker Buy Base Asset Volume,Taker Buy Quote Asset Volume,Ignore
0,2024-11-11,80409.9,89800.0,80261.2,88728.9,614141.662,2024-11-11 23:59:59.999,5.192131e+10,8091453,316223.693,2.674772e+10,0.0
1,2024-11-12,88729.0,90070.1,85159.9,87972.0,639481.584,2024-11-12 23:59:59.999,5.614525e+10,9027355,314356.606,2.760700e+10,0.0
2,2024-11-13,87972.0,93421.1,86180.0,90413.3,555288.297,2024-11-13 23:59:59.999,4.996868e+10,8571385,277133.514,2.494506e+10,0.0
3,2024-11-14,90413.3,91846.1,86714.0,87382.7,364621.680,2024-11-14 23:59:59.999,3.263819e+10,6465556,175052.126,1.567476e+10,0.0
4,2024-11-15,87382.6,91921.5,87111.0,91074.6,314431.908,2024-11-15 23:59:59.999,2.808422e+10,5422261,157612.637,1.407937e+10,0.0

In [7]:
import yfinance as yf
from datetime import datetime, timedelta

def yfd(ticker, start='2024-06-01', end='2025-02-13'):
    # Define the ticker symbol
    ticker_symbol = ticker
    # ticker_symbol = "SPY"
    # Fetch the data
    yf_data = yf.Ticker(ticker_symbol)
    if start:
        start = start
    else:
        start ="2023-01-01"
    if end:
        yf_end_date = end
    else:
        now = datetime.now()
        yf_end_date = now.strftime("%Y-%m-%d")
    # Get historical daily data (default is from start till today)
    hist_data = yf_data.history(start=start, end=yf_end_date, auto_adjust=False)
    
    return hist_data

g = yfd('^SPX')

In [8]:
g

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2024-06-03 00:00:00-04:00,5297.149902,5302.109863,5234.319824,5283.399902,5283.399902,4046920000,0.0,0.0
2024-06-04 00:00:00-04:00,5278.240234,5298.799805,5257.629883,5291.339844,5291.339844,3707900000,0.0,0.0
2024-06-05 00:00:00-04:00,5314.479980,5354.160156,5297.640137,5354.029785,5354.029785,3591460000,0.0,0.0
2024-06-06 00:00:00-04:00,5357.799805,5362.350098,5335.359863,5352.959961,5352.959961,3609990000,0.0,0.0
2024-06-07 00:00:00-04:00,5343.810059,5375.080078,5331.330078,5346.990234,5346.990234,3692760000,0.0,0.0
...,...,...,...,...,...,...,...,...
2025-02-06 00:00:00-05:00,6072.220215,6084.029785,6046.830078,6083.569824,6083.569824,4847120000,0.0,0.0
2025-02-07 00:00:00-05:00,6083.129883,6101.279785,6019.959961,6025.990234,6025.990234,4766900000,0.0,0.0
2025-02-10 00:00:00-05:00,6046.399902,6073.379883,6044.839844,6066.439941,6066.439941,4458760000,0.0,0.0
2025-02-11 00:00:00-05:00,6049.319824,6076.279785,6042.339844,6068.500000,6068.500000,4324880000,0.0,0.0
2025-02-12 00:00:00-05:00,6025.080078,6063.000000,6003.000000,6051.970215,6051.970215,2900199628,0.0,0.0